.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid lightgrey;

    .header-logo {
        display: inline;

        img{
            vertical-align: middle;
        }
    }

    .header-search-bar {
        margin-left: 120px;
        width: 215px;
    }
}
