.header-container {
    width: 100%;
    z-index: 1;
    top: 0px;
    position: fixed;
    height: fit-content;
    border-bottom: 1px solid lightgrey;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        width: 70%;
        background: white;
        margin: 0 auto;
        .header-logo {
            display: inline;
            img {
                vertical-align: middle;
            }
        }

        .header-search-bar {
            margin-left: 120px;
            width: 215px;
        }
    }
}
